body {
  margin: 0px;
  min-width: 400px;
  overflow: auto;
  color: white;
  background-color: #0C1027;
}

.main-alignment{
	display: inline-block;
	vertical-align: top;
}

/*navigation bar*/
nav {
  height: 5rem;
  background-color: #0C1027;
  margin: 0px;
  color: white;
}

.align {
  display: inline-block;
  vertical-align: middle;
}

.size {
  color: lightblue;
  font-size: 4rem;
}

.logo {
  margin-left: 1rem;
}

.app-name {
  font-size: 1.2rem;
}

.search-box {
  background: #12193E;
  right: 0px;
  border-radius: 1rem;
}

.search-box i {
  padding: 0.5rem;
  font-size: 0.7rem;
}

.search-box input {
  background: #12193E;
  border: 0px;
  padding: 0.2rem;
}

.left-align {
  float: left;
  height: 100%;
  margin-left: 3rem;
}

.right-align {
  float: right;
  height: 100%;
  margin-right: 3rem;
}

.middle-align {
  margin: 1.5rem 1rem;
}

.center-align {
  margin: 1.5rem 1.5rem 0rem;
}

.profile img {
  background: white;
  border-radius: 50%;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .center-align {
    display: none;
  }

  .app-name {
    display: none;
  }

  .profile {
    display: none;
  }
}

/*main-content*/

.main-content{
	width: 90%;
	background-color: #0C1027;
	margin: auto;
}

/* LeftContent*/

/*favourites*/
.main-left{
	width: 70%;
	background-color: #0C1027;
}

.section{
	width: 100%;	
}

.section-title{
	margin: 0.5rem;
}

.back-image{
	width: 500px;
	height: 200px;
}

.center-image{
	width: 500px;
	height: 300px;
}

.favourites{
	width: 100%;
	padding: 1rem 0rem;
	text-align: center;
}

.relative{
	position: relative;
}

.center{
	width: 75%;
	z-index: 1;
}


.left{
	width: 30%;
	z-index: 0;
	margin-right: -20%;
}

.right{
	width: 30%;
	z-index: 0;
	margin-left: -20%;
}


/*Latest Releases*/

.latest-release{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.release-card{
	width: 45%;
	margin: 0.5rem;
}

table{
	width: 200%;
}

table tr{
	height: 25%;
}

.alignment{
	display: inline-block;
	vertical-align: top;
}


/*Popular artisits*/

.popular-artists{
	margin: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;	
}

.popular-artists::-webkit-scrollbar {
    display: none;
}

.artist img{
	border-radius: 50%;
}

.artist{
	margin: 0.5rem;
	text-align: center;
}

/*mood*/
.stations-section{
	background: #12193E;
	margin: 0.5rem;
}

.picture{
	margin: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.station-list{
	display: flex;
	flex-direction: row;
	align-items: flex-center;
	justify-content: space-between;
	overflow: auto;
}

.station-list::-webkit-scrollbar {
    display: none;
}

.station img{
	border-radius: 50%;
}

.station{
	margin: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

.center-text{
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

/*mood list*/

.mood-list{
	margin: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: auto;
}

.mood{
	width: 30%;
	position: relative;
	text-align: center;
}

.mood img{
	max-width: 100%;
}

/*Latest-english*/

.songs-list{
	margin: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Right Content*/
.main-right{
	width: 25%;
}

.queue-song{
	margin: 0.5rem;
	width: 90%;
	display: flex;
	flex-direction: row;
}

.queue{
	display: flex;
	flex-direction: column;
}

.song-image table td{
	padding: 0rem 0.3rem;
}

.song-name{
	width: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Responsive Design*/
@media only screen and (max-width: 600px) {
  .right-align {
    margin-right: 1rem;
  }

  .left-align {
    margin-left: 1rem;
  }

  .logo {
    display: none;
  }
  
}